@import './base.css';

#app {
  margin: 0;
  padding: 0px;

  font-weight: normal;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  font-size: 1em;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}

@media screen and (max-width: 610px){
  #app {
    padding: 0;
    margin: 0;

    max-height: 100%;

    font-size: 0.8em;
  }
}
